@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
    padding: 20px;
    font-style: normal;
    font-weight: 400;
    color: #231F20;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

main {
  padding: 0;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

h2 {
  font-size: 2.8em;
  font-weight: 500;
}

h3 {
  font-size: 2.6em;
  font-style: italic;
  text-transform: uppercase;
}

h4 {
  font-size: 2em;
  font-style: italic;
  text-transform: uppercase;
}

p, label {
  font-size: 1.5em;
}

li {
  font-size: 1.2em;
}

input {
  font-size: 1.5em;
}

html {
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
}

nav {
  top: 0;
}

nav > ul > img {
  transition: scale 0.5s ease-in-out;
}
nav > ul > img:hover {
  transform: scale(1.1);
}

nav > ul {
    display: grid;
    grid-template-columns: 25vw 15vw 15vw 15vw 15vw 15vw;
}

nav * {
  
  margin: 0;
  padding: 0;
}

nav > * {
  font-size: 0.75em;
  margin-right: 0 !important;
  position: relative;
  top: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 25%;
  padding-bottom: 25%;
  text-transform: uppercase;
}

footer {
<<<<<<< HEAD
  height: 20vh;
  background-image: url("/images/states/HeaderandFooter.svg");
=======
  background-image: url("/images/LandingPageBackground.svg");
>>>>>>> 9745004 (a)
}

footer > ul {
  display: grid;
  grid-template-columns: 50% 20% 20% 10%;
}

footer > ul:nth-child(1) {
  grid-column: 1;
}

footer > ul:nth-child(2) {
  grid-column: 2;
}

footer > ul:nth-child(3) {
  grid-column: 3;
}

footer > * {
  font-size: x-large;
}

footer * {
  color: #EFE8CC;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

  a:hover {
    color: #0000EE;
  }
  
  li a {
    color: #EFE8CC;
    margin: 0;
    display: block;
    text-align: center;
    padding: 0;
    text-decoration: none;
  }
  

  nav > ul > li {
    font-size: 2em !important;
  }

#navBackground {
  background-image: url("/images/states/HeaderandFooter.svg");
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
}

button {
  color: rgb(170, 86, 23);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
  height: fit-content;
  border: 1px solid black;
  border-style: outset;
  border-width: 2px 4px;
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: xx-large;
  
}


form > h2 {
  text-align: center;
}

input {
  transition: border-color 0.5s ease-in-out;
  color: black;
  margin-top: 20px;
  border: 1px solid black;
  border-style: outset;
  border-width: 2px 4px;
  border-radius: 40px;
}

input[type="radio"], input[type="file"] {
  margin-left: 70px;
}

input[type="radio"] {
  width: 5vw;
}

input[type="file"]::before {
  content: "\a";
  white-space: pre;
}

input[type="submit"] {
  cursor: pointer;
}

input:placeholder-shown {
  border-color: white !important;
}

input:required:invalid {
  border-color: hsl(0, 76%, 50%);;
}

input:valid {
  border-color: hsl(120, 76%, 50%);
}

label {
  color: black;
  margin-top: 20px;
}

span {
  font-size: 12px;
}

section {
  display: block;
  min-height: 100vh; 
}

section:nth-child(odd) {
  background-color: #FFF1E7;
} 

section:nth-child(even) {
  background-color: #FFF1E7;
} 

.flickity-button {
  margin-right: 0 !important;
}

.carousel-cell {
  width: 50%;
  margin-right: 50px;
  border-radius: 5px;
}

/*animations*/

.underlineBox {
  transition: text-decoration 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.underlineBox:hover {
  text-decoration: underline dotted black; 
  transform: scale(1.3, 1.1);
}

button {
  transition: text-decoration 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
button:hover {
  text-decoration: underline dotted black; 
  transform: scale(1.2, 1.1);
}

  .navAnimation {
    transition: text-decoration 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }
  .navAnimation:hover {
    text-decoration: underline dotted black; 
    transform: scale(1.3, 1.1);
}
