@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
    padding: 20px;
    font-style: normal;
    font-weight: 400;
    color: rgb(170, 86, 23);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

main {
    padding: 0;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

h2 {
  font-size: 2.8em;
  font-weight: 500;
}

h3 {
  font-size: 2.6em;
  font-style: italic;
  text-transform: uppercase;
}

h4 {
  font-size: 2em;
  font-style: italic;
  text-transform: uppercase;
}

p, label {
  font-size: 1.5em;
}

li {
  font-size: 1.2em;
}

input {
  font-size: 1.5em;
}

html {
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

img {
    width: 90vw !important;
    padding: 0;
    margin: 0;
}

nav img {
    width: 20vw !important;
}

nav {
  top: 0;
  height: 15vh;
  padding-right: 5vw;
}

nav > ul {
    display: grid;
    height: 100%;
    grid-template-columns: 20vw 15vw 15vw 15vw 15vw 15vw;
}

nav * {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}

nav > * {
  margin-right: 0 !important;
  position: relative;
  top: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 25%;
  padding-bottom: 25%;
  text-transform: uppercase;
}

footer {
  height: 20vh;
  background-image: url("/images/states/HeaderandFooter.svg");

}

footer > ul {
  padding: 0;
  margin: 0;
  height: fit-content;
  display: grid;
  grid-template-columns: 50% 20% 20% 10%;
  
}

footer > ul:nth-child(1) {
  
  grid-column: 1;
}

footer > ul:nth-child(2) {
  grid-column: 2;
}

footer > ul:nth-child(3) {
  grid-column: 3;
}

footer > * {
  font-size: x-large;
}

footer * {
  color: #EFE8CC;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: #EFE8CC;
    margin: 0;
    display: block;
    text-align: center;
    padding: 0;
    text-decoration: none;
  }
  

  nav > ul > li {
    font-size: 2em !important;
  }

#navBackground {
  background-image: url("/images/states/HeaderandFooter.svg");
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
}

button {
  color: rgb(170, 86, 23);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
  height: fit-content;
  border: 1px solid black;
  border-style: outset;
  border-width: 2px 4px;
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: xx-large;
  
}


form > h2 {
  text-align: center;
}

input {

  transition: border-color 0.5s ease-in-out;
  color: black;
  margin-top: 20px;
  border: 1px solid black;
  border-style: outset;
  border-width: 2px 4px;
  border-radius: 40px;
}

input[type="radio"], input[type="file"] {
  margin-left: 70px;
}
input[type="radio"] {
  width: 5vw;
}
input[type="file"] {
  font-size: 16px;
}


input[type="file"]::before {
  content: "\a";
  white-space: pre;
}

input[type="submit"] {
  cursor: pointer;
}

input:placeholder-shown {
  border-color: white !important;
}

input:required:invalid {
  border-color: hsl(0, 76%, 50%);;
}

input:valid {
  border-color: hsl(120, 76%, 50%);
}

label {
  color: black;
  margin-top: 20px;
}

span {
  font-size: 12px;
}

section {
  display: block;
  min-height: 50vh; 
}

section:nth-child(odd) {
  background-color: #FFF1E7;
} 

section:nth-child(even) {
  background-color: #FFF1E7;
} 

.flickity-button {
  margin-right: 0 !important;
}

.carousel-cell {
  width: 50%;
  margin-right: 50px;
  border-radius: 5px;
}

label {
    left: 0;
}

#chooseFiveDiv {
    margin-top: 20vh !important;
}

main * {
    display: block;
}

input {
    margin-left: 40vw !important;
}

img {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  left: 0;
  width: 30%;
}
section {
  padding-left: 0;
  padding-right: 0;
}

html {
  width: 100vw;
}

nav * {
  padding: 0;
  margin: 0;
  font-size:13px;
}

footer * {
  padding: 0;
  margin: 0;
  font-size: 26px;
}
